/* a:not([class*="btn"]) {
    text-decoration: none;
    color: black;
}

a:not([class*="btn"]):hover {
    text-decoration: underline;
    color: #316cf4;
} */

@media screen and (max-width: 991px) {
    #introduction-full {
        display: none;
    }
    #introduction-mobile {
        display: flex;
        height: 64;
        align-items: center;
    }
}

@media screen and (min-width: 992px) {
    #introduction-mobile {
        display: none;
    }
}