@media screen and (max-width: 991px) {
    #introduction-full {
        display: none;
    }
    #introduction-mobile {
        display: flex;
        height: 64;
        align-items: center;
    }
}

@media screen and (min-width: 992px) {
    #introduction-mobile {
        display: none;
    }
}
